<div class="container">
    <form class="form-signin" method="POST" action="/admin/login">
        <div class="text-center">
            <img src="/img/logo.png" alt="Biotops logo" class="signin-logo"/>
        </div>
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus />
        <input name="password" type="password" class="form-control" placeholder="Password" required />
        <div class="checkbox">
            <label>
                <input name="remember_me" type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>